/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define COLEMK_L 0
#define NAV_L    1
#define SYM_L    2
#define ADJ_L    3
#define QWERTY_L 4

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)
#define All    LC(A)
#define CBack  LC(BSPC)
#define Euro   RA(N4)
#define PndSn  LS(N3)

// RGB color macros
#define RGB_WHITE  RGB_COLOR_HSB(0,0,100)
#define RGB_RED    RGB_COLOR_HSB(0,100,100)
#define RGB_GREEN  RGB_COLOR_HSB(120,100,100)
#define RGB_BLUE   RGB_COLOR_HSB(240,100,100)
#define RGB_PURPLE RGB_COLOR_HSB(300,100,100)

&sk {
    release-after-ms = <200>;
    quick-release;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                colemak_layer {
                        label = "COLEMK";
                        bindings = <
&kp  ESC      &kp  Q        &kp  W        &kp  F        &kp  P        &kp  B                                     &kp  J        &kp  L        &kp  U        &kp  Y        &kp  SQT      &kp  DEL
&kp  TAB      &kp  A        &kp  R        &kp  S        &kp  T        &kp  G                                     &kp  M        &kp  N        &kp  E        &kp  I        &kp  O        &kp  CBack
&kp  LGUI     &kp  Z        &kp  X        &kp  C        &kp  D        &kp  V        &trans         &trans        &kp  K        &kp  H        &kp  MINUS    &kp  DOT      &kp  COMMA    &kp  LALT
&trans        &trans        &trans        &kp  LCTRL    &sk  LSHIFT   &kp  SPACE    &mo  NAV_L     &mo  SYM_L    &kp  ENTER    &sk  RSHIFT   &kp  RCTRL    &trans        &trans        &trans
                        >;
                };

                nav_layer {
                        label = "NAV";
                        bindings = <
&kp  ESC      &kp  C_VOL_UP &kp  C_PREV   &kp  C_PP     &kp  C_NEXT   &kp  C_MUTE                                &kp  SLASH    &kp  N7       &kp  N8       &kp  N9       &kp  STAR     &kp  DEL
&kp  TAB      &kp  C_VOL_DN &kp  LEFT     &kp  UP       &kp  RIGHT    &kp  PG_UP                                 &kp  DOT      &kp  N4       &kp  N5       &kp  N6       &kp  PLUS     &kp  BSPC
&kp  LGUI     &kp  PSCRN    &kp  HOME     &kp  DOWN     &kp  END      &kp  PG_DN    &trans         &trans        &kp  N0       &kp  N1       &kp  N2       &kp  N3       &kp  MINUS    &kp  LALT
&trans        &trans        &trans        &kp  LCTRL    &kp  LSHIFT   &kp  SPACE    &trans         &mo  ADJ_L    &kp  ENTER    &kp  RSHIFT   &kp  RCTRL    &trans        &trans        &trans
                        >;
                };

                sym_layer {
                        label = "SYM";
                        bindings = <
&kp  ESC      &kp  EQUAL    &kp  PndSn    &kp  DOLLAR   &kp  SLASH    &kp  BSLH                                  &kp  SLASH    &kp  N7       &kp  N8       &kp  N9       &kp  STAR     &kp  DEL
&kp  TAB      &kp  QMARK    &kp  COLON    &kp  LPAR     &kp  RPAR     &kp  AT                                    &kp  DOT      &kp  N4       &kp  N5       &kp  N6       &kp  PLUS     &kp  BSPC
&kp  LGUI     &kp  EXCL     &kp  SEMI     &kp  LBKT     &kp  RBKT     &kp  HASH     &trans         &trans        &kp  N0       &kp  N1       &kp  N2       &kp  N3       &kp  MINUS    &kp  LALT
&trans        &trans        &trans        &kp  LCTRL    &kp  LSHIFT   &kp  SPACE    &mo  ADJ_L     &trans        &kp  ENTER    &kp  RSHIFT   &kp  RCTRL    &trans        &trans        &trans
                        >;
                };

                adj_layer {
                        label = "ADJ";
                        bindings = <
&bt  BT_NXT   &trans        &trans        &kp  Euro     &kp  GRAVE    &kp  PIPE                                  &kp  F12      &kp  F7       &kp  F8       &kp  F9       &kp  C_BRI_UP &kp  DEL
&to  COLEMK_L &trans        &kp  AMPS     &kp  PERCENT  &kp  LBRC     &kp  RBRC                                  &kp  F11      &kp  F4       &kp  F5       &kp  F6       &kp  C_BRI_DN &kp  BSPC
&to  QWERTY_L &trans        &trans        &trans        &trans        &trans        &trans         &trans        &kp  F10      &kp  F1       &kp  F2       &kp  F3       &kp  CAPS     &kp  LALT
&trans        &trans        &out OUT_TOG  &sys_reset    &bt  BT_CLR_ALL &trans        &trans         &trans        &trans        &trans        &trans        &trans        &trans        &trans
                        >;
                };

                qwerty_layer {
                        label = "QWERTY";
                        bindings = <
&kp  ESC      &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                     &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  DEL
&kp  TAB      &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                     &kp  H        &kp  J        &kp  K        &kp  L        &kp  SEMI     &kp  CBack
&kp  LGUI     &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &trans         &trans        &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  MINUS    &kp  LALT
&trans        &trans        &trans        &kp  LCTRL    &sk  LSHIFT   &kp  SPACE    &mo  NAV_L     &mo  SYM_L    &kp  ENTER    &sk  RSHIFT   &kp  RCTRL    &trans        &trans        &trans
                        >;
                };
        };
};